:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --default-color: rgb(173, 201, 199, 0.5);
  --primary-btn-color: #385170;
  --secondary-btn-color: #ececec;
}
body {
  font-family: var(--default-font);
  background-color: #fff;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
img {
  display: block;
  margin: 0 auto;
}
img.avatar {
  max-width: 300px;
}
footer {
  text-align: center;
  font-size: 30px;
}
footer .email-link {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
footer .email-link:hover {
  font-size: 24px;
  text-decoration: none;
  color: var(--primary-btn-color);

  transition: ease-in-out 250ms;
}
footer .social-links a {
  margin: 20px 20px;
  color: #254a45;
  background: var(--default-color);
  border-radius: 100%;
  padding: 15px 22px;
  font-size: 25px;
}
footer .social-links a:hover {
  margin: 20px 20px;
  color: var(--secondary-btn-color);
  background: #254a45;
  border-radius: 100%;
  padding: 15px 22px;
  font-size: 25px;
  transition: ease-in-out 250ms;
}
nav {
  margin-top: 0px;
  background-color: rgb(56, 81, 112);
}

@media (max-width: 768px) {
  .project-description {
    text-align: center;
  }
  h1 {
    font-size: 36px;
  }
  .about-description {
    text-align: center;
  }
  .content-btns {
    text-align: center;
  }
}
.navbar-nav ul,
li {
  margin: 0;
  padding: 0;
}
.hero {
  text-align: center;
  background: var(--default-color);
  padding: 20px 50px 50px;
}
.hero h1 {
  font-size: 50px;
  padding: 10px;
}
.hero h2 {
  font-family: var(--default-font);
  font-size: 20px;
}
.content {
  text-align: left;
  padding: 50px;
  font-family: var(--default-font);
}
.content h2,
h3 {
  font-family: var(--default-font);
  font-weight: 800;
}
.project-description {
  line-height: 2rem;
}

.primary-btn {
  background-color: var(--primary-btn-color);
  color: var(--secondary-btn-color);
  padding: 15px 15px;
  border-radius: 7px;
}
.primary-btn:hover {
  background-color: #142d4c;
  color: var(--secondary-btn-color);
  transition: ease-in-out 250ms;
}
.secondary-btn {
  background-color: var(--secondary-btn-color);
  color: var(--primary-btn-color);
  padding: 15px 15px;
  border-radius: 7px;
  border: 1px solid var(--primary-btn-color);
}
.secondary-btn:hover {
  background-color: #142d4c;
  color: var(--secondary-btn-color);
  transition: ease-in-out 250ms;
}
.project-btn {
  background-color: var(--secondary-btn-color);
  color: var(--primary-btn-color);
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid var(--primary-btn-color);
}
.project-btn:hover {
  background-color: #142d4c;
  color: var(--secondary-btn-color);
  transition: ease-in-out 250ms;
}
.inquiry {
  background-color: var(--default-color);
  padding: 26px;
  text-align: left;
  border-radius: 7px;
}
.inquiry h4 {
  font-family: var(--heading-font);
}
.inquiry p {
  font-size: 16px;
}
.git-link {
  color: var(--primary-btn-color);
}
.git-link:hover {
  color: #254a45;
  text-decoration: underline;
  transition: ease-in-out 250ms;
}
