:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --default-color: rgb(173, 201, 199, 0.5);
  --primary-btn-color: #385170;
  --secondary-btn-color: #ececec;
}
body {
  font-family: var(--default-font);
  background-color: #fff;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
img {
  display: block;
  margin: 0 auto;
}
img.avatar {
  max-width: 300px;
}
footer {
  text-align: center;
  font-size: 30px;
}
nav {
  margin-top: 0px;
}
@media (max-width: 768px) {
  .project-description {
    text-align: center;
  }
  h1 {
    font-size: 36px;
  }
  .about-description {
    text-align: center;
  }
  .about-btns {
    text-align: center;
  }
}
.fa-circle-half-stroke {
  padding-right: 7px;
}

.hero {
  text-align: center;
  background: var(--default-color);
  padding: 20px 50px 50px;
}
.hero h1 {
  font-size: 50px;
  padding: 10px;
}
.hero h2 {
  font-family: var(--default-font);
  font-size: 20px;
}
.content {
  text-align: left;
  padding: 50px;
  font-family: var(--default-font);
}
.content h2,
h3 {
  font-family: var(--default-font);
  font-weight: 800;
}
.project-description {
  line-height: 2rem;
}

.primary-btn {
  background-color: var(--primary-btn-color);
  color: var(--secondary-btn-color);
  padding: 15px 15px;
  border-radius: 7px;
}
.primary-btn:hover {
  background-color: #142d4c;
  color: var(--secondary-btn-color);
  transition: ease-in-out 300ms;
}
.secondary-btn {
  background-color: var(--secondary-btn-color);
  color: var(--primary-btn-color);
  padding: 15px 15px;
  border-radius: 7px;
  border: 1px solid var(--primary-btn-color);
}
.secondary-btn:hover {
  background-color: #142d4c;
  color: var(--secondary-btn-color);
  transition: ease-in-out 300ms;
}
.project-btn {
  background-color: var(--secondary-btn-color);
  color: var(--primary-btn-color);
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid var(--primary-btn-color);
}
.project-btn:hover {
  background-color: #142d4c;
  color: var(--secondary-btn-color);
  transition: ease-in-out 300ms;
}
