:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #385170;
  --secondary-color: rgb(173, 201, 199, 0.5);
}
body {
  font-family: var(--secondary-font);
  background-color: #fff;
  letter-spacing: 0.5px;
}
h1,
h2,
h3 {
  font-family: var(--primary-font);
  letter-spacing: 0.5px;
}
img {
  background-color: var(--secondary-color);
  margin: 0 auto;
}
footer {
  text-align: center;
  font-size: 30px;
}
.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 50px;
}
.hero h1 {
  font-size: 50px;
  padding: 10px;
}
.hero h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
}
.btn {
  background-color: #385170;
  color: #ececec;
  padding: 10px 15px;
  border-radius: 7px;
}
.btn:hover {
  background-color: #142d4c;
  color: #ececec;
}
